@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}


.inicio {
    height: 100vh;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

body::-webkit-scrollbar {
    width: 12px;
    /* largura da barra de rolagem*/
}

body::-webkit-scrollbar-track {
    background: rgb(227, 206, 255);
    /* color do container de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(90, 7, 145);
    /* color da barra */
    border-radius: 20px;
    border: 3px solid rgb(227, 206, 255);
    /*cria um espaço entre a barra de rolagem e o container dela*/
}

header {
    display: flex;
    justify-content: center;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 12vh;
    background-color: #1308219d;
}



nav ul {
    display: flex;
    list-style: none;
    color: #ffffff;
    gap: 6vw;
    margin: 10vw;
}

nav li a {
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;

}

.logo {
    max-width: 8vw;
    text-align: left;
}

.entrar {
    text-align: right;
    text-decoration: none;
    margin-right: 3vw;
    padding: 5px 30px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: medium;
    border-radius: 50px;
}

.apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
}

.apresentacao img {
    max-width: 40vw;
}

.nome {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
}

.nome .B {
    font-size: 10vh;
    font-weight: medium;
}

.nome .K {
    font-size: 10vh;
    font-weight: medium;
    margin-left: 5vw;
    display: flex;

}

.slogan {
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
}

.apresentacao a {
    text-decoration: none;
    text-align: center;
    margin-top: 3vh;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: larger;
    background-color: #5C2DBB;
}

.sobre {
    background-color: #200B4A;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sobre .descricao {
    color: #ffffff;
    text-align: center;
    margin-top: 5vh;
    width: 90vw;
}

.futuro {
    height: 80vh;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.futuro h1{
    text-align: center;
    margin-bottom: 8vh;
}

.linha1{
    margin:2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha1 span{
    margin: 2vw;
}

.linha2{
    margin:4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha2 span{
    margin: 2vw;
}

.linha1 img{
    height: 20vh;
    
}

.linha2 img{
    height: 20vh;
}


.footer{
    background-color: #200B4A;
    height: 40vh;
    display: flex;
    flex-direction: column;
   
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

.redes img{
    height: 30vh;
}

.redes li{
    list-style: none;
    margin-top: 4vh;
    display: flex;

}

.footer span{
    text-align: center;
    color: #ffffff;
    margin-left: 2vh;
}

.right{
    text-align: center;
    color: #ffffff;
    margin-top: 2vh;
}

.footer li img{
    height: 5vh;
}

/*TELA CRIAÇÃO*/
.criacao{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.criacao .content{
    margin-top: 2vh;
}

.voltar{
    text-align: left;
    text-decoration: none;
    margin-left: 2vw;
    margin-top: 2vh;
    padding: 5px 30px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: large;
    border-radius: 50px;
}

.divisao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.textos {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}


.divisao .div1 img{
    border: 1px solid;
    border-radius: 100%;
    height: 40vh;
    width: 40vw;
    margin: 5vw;
}

.divisao .div2 img{
    max-width: 40vw;
    max-height: 40vh;
    margin: 5vw;
}

.divisao .div3 img{

    max-height: 40vh;
    max-width: 40vw;
    margin: 5vw;
}

.divisao .div1 {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 90vw;
}

.divisao .div2 {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 90vw;
}

.divisao .div3 {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 90vw;
}

/*TELA DE LOGIN*/

.login .content{
    margin-top: 2vh;

}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 30px 30px;
    color: #ffffff;
    background-color: #1308219d;
}

form h1{
    color: #ffffff;
    text-align: center;
}

form input{
    padding: 6px 50px;
    margin-bottom: 5vh;
    border-radius: 50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
}

form span{
    margin-bottom: 1vh;
   
}

form img{
    height: 30vh;
    width: 20vw;
    text-align: center;
    justify-self: center;
    align-self: center;
}

form a{
    padding: 6px 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    background-color: #5C2DBB;
    color: #ffffff;
    font-weight: bold;
}

.link{
    color: #ffffff;
    background: none;
    border: none;
    font-size: small;
    margin-bottom: 2vh;
}