@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


.inicio {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

body::-webkit-scrollbar {
    width: 12px;
    /* largura da barra de rolagem*/
}

body::-webkit-scrollbar-track {
    background: rgb(227, 206, 255);
    /* color do container de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(90, 7, 145);
    /* color da barra */
    border-radius: 20px;
    border: 3px solid rgb(227, 206, 255);
    /*cria um espaço entre a barra de rolagem e o container dela*/
}

header {
    display: flex;
    justify-content: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 12vh;
    background-color: #1308219d;
}



nav ul {
    display: flex;
    list-style: none;
    color: #ffffff;
    gap: 6vw;
    margin: 10vw;
}

nav li a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: #ffffff;

}

.logo {
    max-width: 8vw;
    text-align: left;
    margin-top: 2vh;
}

.entrar {
    text-align: right;
    text-decoration: none;
    margin-right: 3vw;
    padding: 5px 30px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: large;
    border-radius: 50px;
}

.apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
}

.apresentacao img {
    max-width: 40vw;
}

.nome {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
}

.nome .B {
    font-size: 12vh;
    font-weight: bold;

}

.nome .K {
    font-size: 12vh;
    font-weight: bold;
    margin-left: 5vw;
    display: flex;

}

.slogan {
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
}

.apresentacao a {
    text-decoration: none;
    text-align: center;
    margin-top: 3vh;
    border-radius: 50px;
    padding: 10px;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: larger;
    background-color: #5C2DBB;

}

.apresentacao a:hover{
    background-color: #4d259e;

}

.sobre {
    background-color: #200B4A;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre img{
    height: 100vh;
    width: 90vw;
}

.sobre .descricao {
    color: #ffffff;
    text-align: center;
    margin-top: 5vh;
    width: 90vw;
}

.futuro {
    height: 80vh;
    background-image: url('../public/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.futuro h1 {
    text-align: center;
    margin-bottom: 8vh;
}

.linha1 {
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha1 span {
    margin: 2vw;
}

.linha2 {
    margin: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha2 span {
    margin: 2vw;
}

.linha1 img {
    height: 20vh;

}

.linha2 img {
    height: 20vh;
}


.footer {
    background-color: #200B4A;
    height: 40vh;
    display: flex;
    flex-direction: column;

}

.redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

.redes img {
    height: 30vh;
}

.redes li {
    list-style: none;
    margin-top: 4vh;
    display: flex;

}

.footer span {
    text-align: center;
    color: #ffffff;
    margin-left: 2vh;
    font-weight: bold;
}

.right {
    text-align: center;
    color: #ffffff;
    margin-top: 2vh;
}

.footer li img {
    height: 5vh;
}

/*TELA CRIAÇÃO*/
.criacao {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.criacao .content {
    margin-top: 2vh;
}

.voltar {
    text-align: left;
    text-decoration: none;
    margin-left: 2vw;
    margin-top: 2vh;
    padding: 5px 30px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
    font-size: large;
    border-radius: 50px;
}

.divisao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 2vh;
}

.textos {
    color: #ffffff;
    background-color: #483a64fd;
    padding: 5px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.textos span {
    width: 55vw;
}

.divisao .div1 img {
    max-height: 40vh;
    max-width: 40vw;
}

.divisao .div2 img {
    max-width: 40vw;
    max-height: 40vh;
}

.divisao .div3 img {
    max-height: 40vh;
    max-width: 40vw;
}

.divisao div {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    width: 90vw;
    margin: 2vw;

}



/*TELA DE LOGIN*/

.login .content {
    margin-top: 2vh;

}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-radius: 20px;
    padding: 20px 30px;
    margin-bottom: 5vh;
    color: #ffffff;
    background-color: #130821ec;
    border: 1px solid #625b70;
}

.form h1 {
    color: #ffffff;
    text-align: center;
}

.form input {
    padding: 5px;
    margin-bottom: 5vh;
    margin-top: auto;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: large;
}

.form span {
    margin-bottom: 1vh;

}

.form img {
    width: 18vw;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.form button {
    padding: 6px 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    background-color: #5C2DBB;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-family: Poppins;
    font-size: large;
}

.form button:hover {
    background-color: #4b2499;
  
}


.link {
    color: #ffffff;
    background: none;
    border: none;
    font-size: medium;
    margin-bottom: 2vh;
    text-decoration: none;

}


/*TELA DE DASHBOARD*/

.dashboard {
    display: flex;
    font-family: Poppins;
}

.menuLateral {
    background-color: #200B4A;
    height: 100vh;
    width: auto;
    position: fixed;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.menuLateral ul {
    list-style: none;
    color: #ffffff;
}

.menuLateral li {
    margin-bottom: 5vh;
    text-align: center;
    margin-right: 3vw;
    background-color: #5C2DBB;
    padding: 10px 30px;
    border-radius: 20px;
}


.menuLateral a {
    text-decoration: none;
    color: #ffffff;
}

.menuLateral img {
    max-width: 12vw;
    margin: 2vw;
}

.sair {
    font-weight: bold;
    padding: 5px 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 10vh;
}

/*TELA DE AULAS*/

.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20vw;
    color: #ffffff;
}

.niveis {
    margin: 2vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.niveis button{
    font-weight: bold;
    padding: 5px 40px;
    font-family: Poppins;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 2vh;
}

.niveis select {
    width: 15vw;
    height: 6vh;
    font-size: large;
    border-radius: 20px;
    color: #ffffff;
    background-color: #230858;
    text-align: center;
    outline: none;
    border-color: #ffffff;
}

.produtos {
    background-color: #9868f791;
    padding: 30px 40px;
    margin: 2vh;
    border-radius: 20px;
}

.iniciante {
    display: flex;
    flex-direction: column;
}

.iniciante div {
    margin: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 2px 2px 2px #200b4a36;
    border-radius: 20px;
    height: auto;
    border-right: 8px solid #200B4A;
    background-color: #ffffff;
    color: #200B4A;
    font-weight: bold;
}

.intermediario {
    display: flex;
    flex-direction: column;
}

.intermediario div {
    margin: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 2px 2px 2px #200b4a36;
    border-radius: 20px;
    height: auto;
    border-right: 8px solid #200B4A;
    background-color: #ffffff;
    color: #200B4A;
    font-weight: bold;
}

.avancado {
    display: flex;
    flex-direction: column;
}

.avancado div {
    margin: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 2px 2px 2px #200b4a36;
    border-radius: 20px;
    height: auto;
    border-right: 8px solid #200B4A;
    background-color: #ffffff;
    color: #200B4A;
    font-weight: bold;
}

div p {
    margin: 5vw;
}

video {
    border-radius: 20px;
    border: 3px solid #5b35a78f;
}

/*TELA ENQUETE*/
.enquete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 20px 30px;
    color: #ffffff;
    background-color: #130821ec;
    border: 1px solid #625b70;
    margin-top: 10vh;
}

.enquete select{
    padding: 10px 20px;
    text-align: center;
    margin: 2vh;
    font-size: medium;
    border-radius: 20px;
    font-weight: 600;
    color: #404041;
    
}

.enquete button {
    padding: 6px 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    background-color: #5C2DBB;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-family: Poppins;
    font-size: large;
    margin-top: 2vh;
}

/*TELA DASHBOARD*/
.dash{
    margin-left: 20vw; 
    width: 25vw;
    margin-top: 2vh;
}



#graficos{
    display: flex; 
    flex-direction: row;
}

canvas{
    margin: 2vh;
}

.info{
    display: flex;
    flex-direction: row;
}

.info a{
    color: #ffffff;
    background-color: #5C2DBB;
    
    padding: 2px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.info span{
    text-align: center;
    margin: 3vw;
    border: 1px solid #200B4A;
    padding: 20px 60px;
    border-radius: 20px;
}